#1 Arithmetic Operators:
Arithmetic operators are used to perform mathematical operations.
Addition
Subtraction
Multiplication
Division
Floor Division
Modulus (Remainder)
Exponentiation

In [ ]:
#1 Arithmetic Operators
x=10
y=3
z=25
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)
print(xyz)

13
7
30
3.3333333333333335
1000

#2 Assignment Operators:
Assignment operators are used to assign values to variables.
 =	Assigns value
+=	Add and assign
-=	Subtract and assign
*=	Multiply and assign
/=	Divide and assign
//=	Floor divide and assign
%=	Modulus and assign
**=	Exponentiate and assign

In [ ]:
x = 10
y=10
y += 10  # x = x + 5
print(x)  # 15
print(+x)
print(-x)
print(x*3)
print(x/3)
print(x//3)
print(x%3)
print(x**3)
print(x*y)
print(x/y)
x -= 5  # x = x - 5
x *= 2  # x = x * 2
print(x)  # 30

10
10
-10
30
3.3333333333333335
3
1
1000
200
0.5
10

#3 Comparison Operators:
Comparison operators are used to compare two values.
==	Equal to
!=	Not equal to
>      Greater than
<	Less than
>=	Greater than or equal to
<=	Less than or equal to

In [ ]:
#3 Comparison Operators
x=5
y=3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)

False
True
True
False
True

#4 Logical Operators:
Logical operators are used to combine conditional statements.
And  
Or
Not

In [ ]:
#4 logical operators

a=5
b=3
print((a>3)and(b<7))
print((a>3)or(b>7))
print(not(a>3))

True
True
False