In [ ]:

x:int=2
y:int=3
print((3*2)/(2*3))
name:str="sir sohaib"
age:int=20
isActive:bool=True
#K-Electric on
#UPS off
k_electric:int=0 #on
ups:int=1 #off
K_electric="no_electric"
UPS="no ups"
print(name)
print(age)
print(k_electric==ups<1)

# Agar Warna
#If Else
if True: #Added a condition, you'll need to replace True with your actual condition
    if 2>1:
        print("Hellow")
        uname="Sir sohaib"
        print(uname)
UPS="no ups"
print(name)
print(age)
print(num1!=num2<1)

# Agar Warna
#If Else
if condition:
if2>1:
  print("Hellow")
  uname="Sir sohaib"
  print(uname)

IndentationError: expected an indented block after 'if' statement on line 38 (<ipython-input-4-199a237fbe53>, line 39)

In [ ]:
x:int=2
y:int=3
print((3*2)/(2*3))
print(3+2)
print(3-2)
print(3*2)

1.0
5
1
6

In [ ]:
name:str="sir sohaib"
age:int=20
isActive:bool=True
print(name)
print(age)

sir sohaib
20