In [ ]:
print("Hi")
# condition Truse/Flase
if True:
# if False:
  print("condition is true")
else:
  print("condition is False")

Hi
condition is true

In [ ]:
#comparison operators True/Flase
num:int=10

print(num< 10)

False

In [ ]:
num:int=100

print(num> 0 and num< 100)

False

In [ ]:
name:str="Sir Sohaib"

if name=="Sir Sohaib":
    print("Welcome Sir Sohaib")
else:
    print("App Kon")

Welcome Sir Sohaib

In [ ]:
time_of_day: str="Morning"
if time_of_day=="Morning":
  print("Good Afternoon")
elif time_of_day=="morning":
  print("Good Morning")
else:
  print("Good Night")

Good Afternoon

In [ ]:
sector:str="Government"
if sector=="Government":
  print("NGOs")
elif sector=="Government":
  print("Government")
else:
  print("Private")

NGOs

In [ ]:
name="Sir Ali"
numbers:list[int]=[0,1,2]
# index 0 1 2 3,
namesA=["Sir Aneeq", "Sir Sohaib","Sir Sami"]
print(namesA[1])
print(namesA)

Sir Sohaib
['Sir Aneeq', 'Sir Sohaib', 'Sir Sami']

In [ ]:
name="Sir Ali"
numbers:list[int]=[0,1,2,3,4,5,6,7,8,9,10]
# index 0 1 2 3,4,5,6,7,8,9,10
names=["Sir Aneeq", "Sir Sohaib","Sir Sami","Rabeel","Paras"]
print(names[0])
print(names[1],names[1])
print(names)
print(numbers[10],numbers[7])
print(numbers)

Sir Aneeq
Sir Sohaib Sir Sohaib
['Sir Aneeq', 'Sir Sohaib', 'Sir Sami', 'Rabeel', 'Paras']
10 7
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#print (range(0,5)
range(0,5)
#stratin point
# condtion
# increment
numbers:list[int]=[1,2,3,4,5]
#print(numbers[0])
#print(numbers[1])
#print(numbers[2])
#print(numbers[3])
#print (range(0,5)
range(0,5)
#stratin point
# condtion
# increment
numbers:list[int]=[1,2,3,4,5]
names=["grapes","orange"]
#print(numbers[0])
#print(numbers[1])
#print(numbers[2])
#print(numbers[3])
#for variable in iterable:
for num in numbers:
  print("num is", num)
  print("names are",names)

num is 1
names are ['grapes', 'orange']
num is 2
names are ['grapes', 'orange']
num is 3
names are ['grapes', 'orange']
num is 4
names are ['grapes', 'orange']
num is 5
names are ['grapes', 'orange']

In [ ]:
rollNo=int(input("Enter Roll No"))
name=input("Enter Name:")
gender=input("Enter Gender")
age=int(input("Enter Age"))
standard=int(input("Enter Class"))
english=int(input("Enter English70 Marks"))
maths=int(input("Enter Maths Marks"))
science=int(input("Enter Science Marks"))
urdu=int(input("Enter Urdu Marks"))
islamiat=int(input("Enter Islamiat Marks"))
obtained_marks=english+maths+science+urdu+islamiat
percentage=obtained_marks/500*100

print("--------------STUDENT'S MARKSHEET---------------")

print("Your Roll Number is:",rollNo)
print("Your Name is:",name )
print("Your Gender is:",gender)
print("Your Age is:",age)
print("Your Class is:",standard)
print("Total Marks are:, 500")
print("Obtained Marks are:,obtained")
print("Percentage is:",percentage)

Enter Roll No1505
Enter Name:Fatima
Enter GenderFemale
Enter Age18
Enter Class12
Enter English70 Marks85
Enter Maths Marks95
Enter Science Marks90
Enter Urdu Marks85
Enter Islamiat Marks55
--------------STUDENT'S MARKSHEET---------------
Your Roll Number is: 1505
Your Name is: Fatima
Your Gender is: Female
Your Age is: 18
Your Class is: 12
Total Marks are:, 500
Obtained Marks are:,obtained
Percentage is: 82.0

In [ ]:
english=int(input("Enter English Marks"))
maths=int(input("Enter Maths Marks"))
science=int(input("Enter Science Marks"))
urdu=int(input("Enter Urdu Marks"))
islamiat=int(input("Enter Islamiat Marks"))
total=english+maths+science+urdu+islamiat
print("Total Marks of 5 subject is", total)
percentage=total/500*100
print("Percentage is:",percentage)
if english>=33 and maths>=33 and science>=33 and urdu>=33 and islamiat>=33:
  print("You are pass")
else:
  print("You are fail")

Enter English Marks80
Enter Maths Marks70
Enter Science Marks50
Enter Urdu Marks65
Enter Islamiat Marks77
Total Marks of 5 subject is 342
Percentage is: 68.4
You are pass

In [ ]:
english=int(input("Enter English Marks"))
maths=int(input("Enter Maths Marks"))
science=int(input("Enter Science Marks"))
urdu=int(input("Enter Urdu Marks"))
islamiat=int(input("Enter Islamiat Marks"))
total=english+maths+science+urdu+islamiat
print("Total Marks of 5 subject is", total)
percentage=total/500*100
print("Percentage is:",percentage)
if english<=33 and maths<=33 and science<=33 and urdu<=33 and islamiat<=33:
  print("You are fail")
else:
  print("You are pass")

Enter English Marks30
Enter Maths Marks23
Enter Science Marks25
Enter Urdu Marks28
Enter Islamiat Marks15
Total Marks of 5 subject is 121
Percentage is: 24.2
You are fail

In [ ]:
#Q. Write a programme to calculate the grade of a student.

marks=int(input("Enter your Marks(0 to 100)\n"))
if marks>=90:
  grade="Excelent"
elif marks>=80:
  grade="A++"
elif marks>=70:
  grade="A"
elif marks>=60:
  grade="B"
elif marks>=50:
  grade="C"
elif marks>=40:
  grade="D"
else:
  grade="Fail"
print("Your Grade is:",grade)

Enter your Marks(0 to 100)
33
Your Grade is: Fail

In [ ]:
#Q. Write 3 table
for i in range(1,11):
  print("3 x",i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
#Q. Write 9 table
for i in range(0,11):
  print("9 x",i,"=",9*i)

9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
print('\n'.join(f'{j}*{j}={(i*j)}' for i in range(1,11) for j in range(1,11)))

1*1=1
2*2=2
3*3=3
4*4=4
5*5=5
6*6=6
7*7=7
8*8=8
9*9=9
10*10=10
1*1=2
2*2=4
3*3=6
4*4=8
5*5=10
6*6=12
7*7=14
8*8=16
9*9=18
10*10=20
1*1=3
2*2=6
3*3=9
4*4=12
5*5=15
6*6=18
7*7=21
8*8=24
9*9=27
10*10=30
1*1=4
2*2=8
3*3=12
4*4=16
5*5=20
6*6=24
7*7=28
8*8=32
9*9=36
10*10=40
1*1=5
2*2=10
3*3=15
4*4=20
5*5=25
6*6=30
7*7=35
8*8=40
9*9=45
10*10=50
1*1=6
2*2=12
3*3=18
4*4=24
5*5=30
6*6=36
7*7=42
8*8=48
9*9=54
10*10=60
1*1=7
2*2=14
3*3=21
4*4=28
5*5=35
6*6=42
7*7=49
8*8=56
9*9=63
10*10=70
1*1=8
2*2=16
3*3=24
4*4=32
5*5=40
6*6=48
7*7=56
8*8=64
9*9=72
10*10=80
1*1=9
2*2=18
3*3=27
4*4=36
5*5=45
6*6=54
7*7=63
8*8=72
9*9=81
10*10=90
1*1=10
2*2=20
3*3=30
4*4=40
5*5=50
6*6=60
7*7=70
8*8=80
9*9=90
10*10=100

In [ ]:
  for i in range(1,11):
    print(f"2x{i}={2*i}")

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [ ]:
# open an image
# from a local file
from PIL import Image
# open an image
# from a local file
from PIL import Image
img=Image.open('bird.png')
img.show()
# $ python3 074-open-image.py

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-1-66bc81422e94>, line 6)

In [ ]:
In [21]: #lcoding
print("\033[1,37;48m Python \n]")
print("\033[1,36;48m Python \n]")
print("\033[1,35;48m Python \n]")
print("\033[1,34;48m Python \n]")
print("\033[1,33;48m Python \n]")
print("\033[1,32;48m Python \n]")
print("\033[1,31;48m Python \n]")

[1,37;48m Python
]
[1,36;48m Python
]
[1,35;48m Python
]
[1,34;48m Python
]
[1,33;48m Python
]
[1,32;48m Python
]
[1,31;48m Python
]

In [ ]:
import colorama
from colorama import Fore, Back,Style
import colorama
from colorama import Fore, Back, Style
colorama.init(autoreset=True)


print(Fore.BLUE + "My name is Rimsha Parveen" + Fore.YELLOW + "I am your AI Student")

ModuleNotFoundError: No module named 'colorama'