In [ ]:
 print("Helow world")

Helow world

In [ ]:
print("hi are you")

hi are you

In [ ]:
user_input=int(input("enter your number"))
try:
  for num in range(1,11):
    print(f"{user_input}*{num}={num*user_input}")
except Exception as error:
  print("please enter valid number")

enter your number7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [ ]:
num=[1,2,3,4]
try:
  result=num[4]
except IndexError:
  print("please provide in valid index")

please provide in valid index

In [ ]:
# local and Global Variables
num_x=5
print("num_x ouside function one",num_x)
def hello():
    print("num_x inside function",num_x)
    print("hellow how are you?")
hello()
global num_x
global result

num_x=10
print("num_x ouside function two",num_x)

num_x ouside function one 5
num_x inside function 5
hellow how are you?
num_x ouside function two 10

In [ ]:
def addition(num1: int, num2: int):
    """takes twoparamters and return their sum""" # or under same way
    '''takes twoparamters and return their sum'''
    return num1+num2
result= addition(2,2)
print(addition.__doc__)
print(result)

takes twoparamters and return their sum
4

In [ ]:
def subtraction(num1: int, num2: int):
    """takes twoparamters and return their subtraction""" # or under same way
    '''takes twoparamters and return their subtraction'''
    return num1-num2
result= subtraction(8,2)
print(subtraction.__doc__)
print(result)

takes twoparamters and return their subtraction
6

In [ ]:
def multply(num1: int, num2: int):
    """takes twoparamters and return their Multply""" # or under same way
    '''takes twoparamters and return their Multply'''
    return num1*num2
result= multply(8,2)
print(multply.__doc__)
print(result)

takes twoparamters and return their Multply
16

In [ ]:
def division(num1: int, num2: int):
    """takes twoparamters and return their division""" # or under same way
    '''takes twoparamters and return their division'''
    return num1/num2
result= division(8,2)
print(division.__doc__)
print(result)

takes twoparamters and return their division
4.0

In [ ]:
def addition(num1: int, num2: int):
    """takes twoparamters and return their sum""" # or under same way
    '''takes twoparamters and return their sum'''
    return num1+num2
result= addition(2,2)
print(addition.__doc__)
print(result)
  return num1+num2
result= addition(2,2)
print(addition._doc_)
print(result)

takes twoparamters and return their sum
4

AttributeError: 'function' object has no attribute '_doc_'

In [ ]:
def addition(num1: int, num2: int):
    """takes twoparamters and return their sum"""
    return num1+num2

result= addition(2,2)
print(addition.__doc__)
print(result)

result= addition(4,6)
print(addition.__doc__)
print(result)

takes twoparamters and return their sum
4
takes twoparamters and return their sum
10

In [ ]:
# string
# number/interger
# boolean
# list
# Tuple
# Dictonary
# set
## add
## Remove
## discard
##
names_list=["Ali","Heer","Aamir","Ali","Abdullah"]
names_set={"Ali","Manoj Kumar","Aamir","Ali","Abdullah"}
print("names list",names_list[1])
print("names set",names_set)
print("updated names",names_set)
names_set.pop()
names_set.add("Rahim")
names_list.remove("Ali")
names_set.discard("Manoj Kumar")
print("updated names",names_set)

names list Heer
names set {'Ali', 'Aamir', 'Manoj Kumar', 'Abdullah'}
updated names {'Ali', 'Aamir', 'Manoj Kumar', 'Abdullah'}
updated names {'Aamir', 'Rahim', 'Abdullah'}

In [ ]:
#Final
names_list = ["Ali", "Heer", "Aamir", "Ali", "Abdullah"]


names_set = {"Ali", "Manoj Kumar", "Aamir", "Ali", "Abdullah"}


print("Second name in the list:", names_list[1])

print("Original names set:", names_set)


names_set.pop()


names_set.add("Rahim")


if "Ali" in names_list:
    names_list.remove("Ali")

names_set.discard("Manoj Kumar")
print("Updated names set:", names_set)
print("Updated names list:", names_list)

Second name in the list: Heer
Original names set: {'Manoj Kumar', 'Aamir', 'Ali', 'Abdullah'}
Updated names set: {'Rahim', 'Aamir', 'Abdullah', 'Ali'}
Updated names list: ['Heer', 'Aamir', 'Ali', 'Abdullah']

In [ ]:
num_set_1={1,2,3}
num_set_2={3,4,5}

result=num_set_1.union(num_set_2)
result=num_set_1.intersection(num_set_2)
result=num_set_1.difference(num_set_2)
result=num_set_1.symmetric_difference(num_set_2)
print(("result>>>",result))
print(num_set_1)
print(num_set_2)
print(result)

('result>>>', {1, 2, 4, 5})
{1, 2, 3}
{3, 4, 5}
{1, 2, 4, 5}

In [ ]:
# assiginment
## goglw colab read
### github read
####

In [ ]:
import calendar
import calendar
import calendar
cal = calendar.month(2025, 1)
print("Here is the calendar:")
print(f"\033[3m\033[34m{cal}")

Here is the calendar:
    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [ ]:
import calendar

# User input with error handling
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")
except ValueError:
    print("Invalid Input! Please enter a valid number.")
    num = None

# Calendar Example
try:
    year = int(input("\nEnter a Year to Display the Calendar: "))
    print(calendar.calendar(year))  # Display full year's calendar
except ValueError:
    print("Invalid Year! Please enter a valid number.")

Enter a Number: 2025
You Entered: 2025


Enter a Year to Display the Calendar: 2025
                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [ ]:
num1 = int(input('Enter A Number:'))

for i in range(1,30):
    print(f'{num1}x{i} ={num1*i}')
    i +=1

Enter A Number:25
25x1 =25
25x2 =50
25x3 =75
25x4 =100
25x5 =125
25x6 =150
25x7 =175
25x8 =200
25x9 =225
25x10 =250
25x11 =275
25x12 =300
25x13 =325
25x14 =350
25x15 =375
25x16 =400
25x17 =425
25x18 =450
25x19 =475
25x20 =500
25x21 =525
25x22 =550
25x23 =575
25x24 =600
25x25 =625
25x26 =650
25x27 =675
25x28 =700
25x29 =725