In [ ]:
info={"name":"Aryan","CGPA":3.5,"studying":"BS Maths"}
info["name"]="hayan"
print(info)
print(type(info))
drama1="kurulus Usman"
drama2="ertugrul ghazi"
print("my favourate dream serail is",drama1)
print(drama2,"is my favourite drama serial after the ",drama1)
list=["suleman shah","Etyuguri ghazi","usman", "Orhan","naden" ]
list.append("Sultan abdul Hameed")
print(list[0],"the dreamer")
print(list[1],"the dreamer")
print(list[2],"the dreamer")
print(list[3],"the dreamer")
print("the tea was fantastic said by",list[3])

{'name': 'hayan', 'CGPA': 3.5, 'studying': 'BS Maths'}
<class 'dict'>
my favourate dream serail is kurulus Usman
ertugrul ghazi is my favourite drama serial after the  kurulus Usman
suleman shah the dreamer
Etyuguri ghazi the dreamer
usman the dreamer
Orhan the dreamer
the tea was fantastic said by Orhan

In [ ]:
# Today's class topics* 16-02-2025
# 1. Ternary Operators.
# 2. Enumerated Function.
# 3. Map, Filter, Reduce Function.

# Assignments*
# 1. Reduce function.
# 2. Make repository on github and use basic commands.
# *Announcement*
# Attend Tuesday class 7-10pm as a guest.

In [ ]:
num: int=9
if num>10:
  print("number is greater than 10")
  num=num+10
  print("num>>>,num")
else:
  print("number is less than 10")
  # if stat4ement if condition elelse statement
  num=int=9
  print("number is greater than 10") if num>10 else print("number is less than 10")

number is less than 10
number is less than 10

In [ ]:
# num2= ager condion true to value 20 value 10 ternoary
num=5
num2=20 if num < 10 else 5
print("num2>>>",num2)

num2>>> 20

In [ ]:
# Enumerated Function
names=["Ali","Abullah","Aamir"]
print(names[1])
for name in names:
  if names[1]=="Abullah":
    print(" Assalamulakum Abullah found")
    print(name)
    break
else:
  print("Abullah not found")

Abullah
 Assalamulakum Abullah found
Ali

In [ ]:
names=["Ali","Abullah","Aamir"]
print(names[1])
index=0
for name in names:
  print("index", index)
  index += 1
  print(f"name{index}:{name}")

Abullah
index 0
name1:Ali
index 1
name2:Abullah
index 2
name3:Aamir

In [ ]:
names=["Ali","Abullah","Aamir"]
# index =0
# for name is names:
# print (f"name{index}:{name}")
for index,name in enumerate(names):
  # names[0]=ali 1st time loop
  # names[1]=abdullah 2nd time loop
  # abdullah=="Abdullah"
  if names[index]=="Abullah":
    print("Assalamulaikum Abdullah")
    print(f"name{index}:{name}")

Assalamulaikum Abdullah
name1:Abullah

In [ ]:
# Map,filter,reduce functions
numbers=[1,2,3,4,5]
def square(num:int):
  return num*num

new_list=[]
for num in numbers:
  print(f"num>>>{num}")
  print("Calling square function")
  num_sqr=square(num)
  print(f"square value{num_sqr}")
  new_list.append(square(num))
  print(new_list)

num>>>1
Calling square function
square value1
[1]
num>>>2
Calling square function
square value4
[1, 4]
num>>>3
Calling square function
square value9
[1, 4, 9]
num>>>4
Calling square function
square value16
[1, 4, 9, 16]
num>>>5
Calling square function
square value25
[1, 4, 9, 16, 25]

In [ ]:
# map
numbers=[1,2,3,4,5]
def square(num:int):
    return num*num

new_list=list(map(square,numbers))
print("numbers>>>",numbers)
print("new_list>>>",new_list)

numbers>>> [1, 2, 3, 4, 5]
new_list>>> [1, 4, 9, 16, 25]

In [ ]:
pS d?\GITHUB_FOLDER

In [ ]:
# filter
numbers=[1,2,3,4,5]
def filter_function(num:int):
  return num > 3
filtered_list=list(filter(filter_function,numbers))
print("numbers>>>",numbers)
print("filtered_list>>>",filtered_list)

numbers>>> [1, 2, 3, 4, 5]
filtered_list>>> [4, 5]

In [ ]:
# map
marks=[77,97,64,85,55]

def grades(marks):
  if marks >= 90:
    return'A'
  elif 80 <= marks < 90:
    return 'B'
  elif 70 <= marks < 80:
    return 'C'
  elif 60 <= marks < 70:
    return 'D'
  elif 50<=marks < 60:
    return 'E'
  else:
    return 'F'
grades=list(map(grades,marks))
print("Exam Score:",marks)
print("grades:",grades)

Exam Score: [77, 97, 64, 85, 55]
grades: ['C', 'A', 'D', 'B', 'E']

In [ ]:
# first we have to take from "functool" import "reduce" than,
from functools import reduce

# make a function and give two parameter like: (x,y); than,
# return the parameter in your condition like: +,-,*,/ than ,
def multi(a,r):
    return a*r
  # make list of numbers than,
numbers=[1,2,3,4,5]
  # make a variable = and import the reduce and in argument call (function,"and write" list)
new_list=reduce(multi,numbers)
  # than print the variable
print(new_list)

120

In [ ]:
# convert the filter function into map
numbers=[1,2,3,4,5]
def map_function(num:int):
  return num > 3
map_list=list(map(map_function,numbers))
print("map_list>>>",map_list)
print("filtered_list>>>",filtered_list)

map_list>>> [False, False, False, True, True]
filtered_list>>> [4, 5]