<a href="https://colab.research.google.com/github/MehraniAI/Python-Classes-Sun7PM-10PM/blob/main/13Sunday09_03_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# List
# Dicionay
# Set
# mutable hai jo change ho  saki

In [ ]:
# immutable (Jo change na ho ske)
# String
# Integerboolean
#tuple
# float
# None

In [ ]:
name: str = "Aneeq Khatri"
dishes=["Somse","Pakore","Fruit chat"]
dishes.append("ice cream")
print(dishes)

['Somse', 'Pakore', 'Fruit chat', 'ice cream']

In [ ]:
number: int =20 # imtuple
print(number)

20

In [ ]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
list1=list2
print(list1 == list2)
print(list1 is list2)

True
True

In [ ]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]

print(list1 == list2)
print(list1 is list2)

True
False

In [ ]:
name1 = "Aneeq how are you ? i am fine"
name2 = "Aneeq"
num1 = 10
num2 = 10
print(name1 == name2)
print(name1 is name2)
print(num1 == num2)
print(num1 is num2)

False
False
True
True

In [ ]:
num1 = 256
num2 = 256
print(name1 is name2)
print(num1 is num2)

False
True

In [ ]:
num1 = 256
num2 = -256
print(name1 is name2)
print(num1 is num2)

False
False

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1 # list ka refernce
list1.append(6) # [1, 2, 3, 4, 5, 6]
print("list2>>>",list2)

list2>>> [1, 2, 3, 4, 5, 6]

In [ ]:
value1: str = "How are you? "
value2: str = value1
print(value2)

How are you?

In [ ]:
def get_sqr_list(n:int):
  for num in range(n):
    print("num>>>",num)
get_sqr_list(5)

num>>> 0
num>>> 1
num>>> 2
num>>> 3
num>>> 4

In [ ]:
sqr_list = []
def get_sqr_list(n:int):
  for num in range(n,5):
    sqr_num=num*num
    sqr_list.append(sqr_num)
    print("num>>>",num)
get_sqr_list(5)
print(sqr_list)

[]

In [ ]:
def get_sqr_list(n: int):
    sqr_list = []  # Initialize sqr_list inside the function
    for num in range(n):  # Iterate using the input 'n'
        sqr_num = num * num
        sqr_list.append(sqr_num)
        print("num>>>", num)
    print(sqr_list)  # Print sqr_list inside the function

get_sqr_list(5)  # Call the function with the desired input

num>>> 0
num>>> 1
num>>> 2
num>>> 3
num>>> 4
[0, 1, 4, 9, 16]

In [ ]:
def get_sqr_list(n:int):
  for num in range (n):
    num*num
  sqr_list=[num*num for num in range(n)]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = [num for num in numbers if num%2==0]
# The variable 'num' is not accessible outside the list comprehension above.
# You need to iterate over the 'numbers' list again to use 'num'.
even_numbers= []
for num in numbers:  # Iterate through the 'numbers' list
  if num % 2 == 0:
    even_numbers.append(num)
print(even_numbers)
print(10  %2)

[2, 4, 6, 8, 10]
0

In [ ]:
# number ko return kro agr number wo even he
even_list = [num*num for num in numbers if num % 2==0]
print(even_list)

[4, 16, 36, 64, 100]

In [ ]:
def get_numbers():
  reslut  = [] # reslut variable name
  for  num in range(1,11):
    reslut.append(num)
  return reslut # The variable name is reslut

  numbers_list= get_numbers()
  print(numbers_list)
print(get_numbers())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def get_generated_values():
  for num in range(0,11):
    yield num # 0

    result=get_generated_values()
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))
    print(next(result))

In [ ]:
def get_generated_values():
  for num in range(0,11):
    yield num # 0

# Remove the extra, incorrect definition of get_generated_values
# and the calls to next(result) which was not defined correctly.

for numresult in get_generated_values():
    print(numresult)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 1 - is vs ==

# 2- Generators

# 3- List Comprehension


# string
# Integer
# float
# boolean
# list
# tuple
# dict
# set
# None

# Mutable Data Types (jo change ho ske)


# list
# dictionary
# set

# Immutable (jo change na ho ske)


# string
# integer
# boolean
# tuple
# float
# None


dishes = ["samose", "pakore", "fruit chat"]
dishes.append("ice cream")
print(dishes)

['samose', 'pakore', 'fruit chat', 'ice cream']

name: str = "Aneeq Khatri"
number: int= 20

print(name)

  Aneeq Khatri

list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]

print(list1 == list2)
print(list1 is list2)

True
False

list1 = [1,2,3,4,5]
list2 = list1

print(list1 == list2)
print(list1 is list2)

True
True

name1 = "Aneeq how are you? i am fine"
name2 = "Aneeq how are you? i am fine"
num1 =
num2 = 2.5

bool1 = True
bool2 = True

print(name1 is name2)
print(num1  is num2)
print(bool1 is bool2)

False
False
True

list1 = [1,2,3,4,5]
list2 = list1  # list1 ka reference
list1.append(6) # [1,2,3,4,5,6]

print("list2>>>",list2) # list1 ka reference

list2>>> [1, 2, 3, 4, 5, 6]

value1: str = "how are you? "
value2: str = value1 #  "how are you? "

value1 = "I am fine"
value2 = value1 # "I am fine"

print(value2)

I am fine


sqr_list = []
def get_sqr_list(n: int):
   for num in range(0,n):  #[0,1,2,3,4]
    # print("num>>>",num)
    sqr_num = num * num # 0 * 0 -> 1 * 1 -> 2 * 2
    # print("sqr_num>>",sqr_num)
    sqr_list.append(sqr_num) # [] -> [0] -> [0,1] ->  [0,1,4]

get_sqr_list(5)
print(sqr_list)

[0, 1, 4, 9, 16]


def get_sqr_list(n: int):
  # for num in range(n):
        # num * num
    # sqr_list = [output loop with condition]
  # sqr_list = [num * num for num in range(n)]
  sqr_list = [num * num for num in range(5)]
  print("sqr_list>>>",sqr_list)


get_sqr_list(5)


sqr_list>>> [0, 1, 4, 9, 16]

numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []

# if num % 2 == 0:
#    print("number is even")
# print(13  % 2 )

for num in numbers:
  if num % 2 == 0:
    even_numbers.append(num)

print(even_numbers)



[2, 4, 6, 8, 10]

numbers = [1,2,3,4,5,6,7,8,9,10]
#  num ko return kro agr num wo even he
even_list = [num for num in numbers if num % 2 == 0]

print(even_list)

[2, 4, 6, 8, 10]

def get_numbers():
  result = []
  for num in range(0,11):
    result.append(num)
  return result


number_list =get_numbers()
print(number_list)


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def get_generated_values():
  for num in range(0,11):
    yield num  # 0 -> 1


result = get_generated_values()
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))
# print(next(result))

for num in result:
  print("nuum>>>",num)


# print("result>>",result)

nuum>>> 0
nuum>>> 1
nuum>>> 2
nuum>>> 3
nuum>>> 4
nuum>>> 5
nuum>>> 6
nuum>>> 7
nuum>>> 8
nuum>>> 9
nuum>>> 10

SyntaxError: invalid syntax (<ipython-input-5-ffb8e3df034e>, line 69)

In [ ]:
def get_generated_values():
  for num in range(0,11):
    yield num  # 0 -> 1


result = get_generated_values()
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

for num in result:
  print("nuum>>>",num)


print("result>>",result)

0
1
2
3
4
5
6
7
8
9
10
result>> <generator object get_generated_values at 0x7f89585afed0>

In [ ]:
dishes = ["samose", "pakore", "fruit chat"]
dishes.append("ice cream")
print(dishes)

['samose', 'pakore', 'fruit chat', 'ice cream']

name: str = "Aneeq Khatri"
number: int= 20

print(name)

['samose', 'pakore', 'fruit chat', 'ice cream']
Aneeq Khatri

In [ ]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]

print(list1 == list2)
print(list1 is list2)

True
False

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1

print(list1 == list2)
print(list1 is list2)

True
True

In [ ]:
name1 = "Aneeq how are you? i am fine"
name2 = "Aneeq how are you? i am fine"
num1 = 3.5
num2 = 2.5

bool1 = True
bool2 = True

print(name1 is name2)
print(num1  is num2)
print(bool1 is bool2)

False
False
True

In [ ]:
list1 = [1,2,3,4,5]
list2 = list1  # list1 ka reference
list1.append(6) # [1,2,3,4,5,6]

print("list2>>>",list2) # list1 ka reference

list2>>> [1, 2, 3, 4, 5, 6]

value1: str = "how are you? "
value2: str = value1 #  "how are you? "

value1 = "I am fine"
value2 = value1 # "I am fine"

print(value2)

I am fine

SyntaxError: invalid syntax (<ipython-input-17-4daaf9dd4225>, line 7)