In [ ]:
 # key: value
 my_dict={}
 our_dict={"Ali":"1009876","muhammad":"1009877","Fatima":"1009878"}
 # key: value
 my_dict={}
 our_dict={"Ali":"1009876","muhammad":"1009877","Fatima":"1009878"}
 contact=["ali",109]
 student=["ahsen",10,10]
 name={"ahsen":"010","rollno":"010","class":10} # corrected this line
 print(my_dict)
 print(our_dict)
 print(our_dict["Fatima"]) #find
 print(student)
 print(our_dict["Fatima"])
 print(student)

{}
{'Ali': '1009876', 'muhammad': '1009877', 'Fatima': '1009878'}
1009878
['ahsen', 10, 10]
1009878
['ahsen', 10, 10]

In [ ]:
people={"name":"ali","Age":"20","class":"sunday7-10"}
print(people)

{'name': 'ali', 'Age': '20', 'class': 'sunday7-10'}

In [ ]:
def charger ():
  print("Charge Mobile")

charger()

Charge Mobile

In [ ]:
def ramokaka():
  print("ramo Kaka biryani Banao")

ramokaka()

ramo Kaka biryani Banao

In [ ]:
a=1
b=4

def add():
  return a+b

sum=add()
print(sum)

5

In [ ]:
def ramo_kaka():
  return "Biryani bangayi"

plate=ramo_kaka()
print(plate)

Biryani bangayi

In [ ]:
# parameter
def greet(name,age):
  print("Assalam o Alekum Sir",name,"your age is",age)

# argumemt
greet("ali",23)

Assalam o Alekum Sir ali your age is 23

In [ ]:
#
num1=int=10
num2=int=20
def addition(num1:int,num2:int):
  return num1+num2

addition(10,20)

30