In [ ]:
Student=["Raja","Dileep"]
student = {"name":"Raja","age":"22","course":"agentic AI"} # Removed leading spaces from this line
print(student["name"])

Raja

In [ ]:
student = {"name":"Raja","age":"22","course":"agentic AI"}
for key, value in student.items():
  print(f"key {key} and value {value}")

key name and value Raja
key age and value 22
key course and value agentic AI

In [ ]:
# error handiling
# Three types
#1 abnormale termination
#2 gress full termission
#3 try except
num:int=100
num2:int=10
#result=num/num2
#print(result)

try:
    result=num/num2
    print(result)
except Exception as e:
   print(e)

10.0

In [ ]:
# Zero division error
# key error
# intex error
# value error
# try error
# import error

In [ ]:
list=["aLI","Parveen","Fatima"]
num:int=55
num2:int=11
try:
    result=num/num2
    print(result)
except Exception as e:
   print(e)
   #
try:
    result=num/num2
    print(result)
except ZeroDivisionError:
   print("this is error with index")
except ZeroDivisionError:
   print("this is error with index")
except ZeroDivisionError:
   print("this is error with index")


   # HOME WORK FOR STUDENTS
   # USER_INPUT=INPUT("ENTER YOUR NUMBER")

5.0
5.0

In [ ]:
num=int(input("enter your value"))
for i in range(1,11):
  print(f"{num}*{i}={num*i}")
  try:
    num=num/i
    print(num)
  except Exception as num:
    print("Enter the valid valu"(num))

<>:8: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:8: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?

enter your value10
10*1=10
10.0
10.0*2=20.0
5.0
5.0*3=15.0
1.6666666666666667
1.6666666666666667*4=6.666666666666667
0.4166666666666667
0.4166666666666667*5=2.0833333333333335
0.08333333333333334
0.08333333333333334*6=0.5
0.01388888888888889
0.01388888888888889*7=0.09722222222222222
0.0019841269841269845
0.0019841269841269845*8=0.015873015873015876
0.00024801587301587306
0.00024801587301587306*9=0.0022321428571428575
2.7557319223985896e-05
2.7557319223985896e-05*10=0.00027557319223985895
2.7557319223985897e-06

<ipython-input-2-8ab8d66a2497>:8: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print("Enter the valid valu"(num))

In [ ]:
# 1
num1=int(input("enter your value"))
num2=int(input("enter your value"))
print(num1+num2)

enter your value10
enter your value20
30

In [ ]:
# 2
print("Enter num 1")
num1=int(input())
print("Enter num 2")
num2=int(input())
print(num1+num2)

Enter num 1
45
Enter num 2
55
100

In [ ]:
# 3
print("Enter num 1")
num1=input()
print("Enter num 2")
num2=input()
try:
  print("The sum of these two numers is",
        int(num1)+int(num2))
except Exception as e:
    print(e)
    print("This is very important")

Enter num 1
23
Enter num 2
25
The sum of these two numers is 48

In [ ]:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 21):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 77
You Entered: 77

Multiplication Table of 77:

77 x 1 = 77
77 x 2 = 154
77 x 3 = 231
77 x 4 = 308
77 x 5 = 385
77 x 6 = 462
77 x 7 = 539
77 x 8 = 616
77 x 9 = 693
77 x 10 = 770
77 x 11 = 847
77 x 12 = 924
77 x 13 = 1001
77 x 14 = 1078
77 x 15 = 1155
77 x 16 = 1232
77 x 17 = 1309
77 x 18 = 1386
77 x 19 = 1463
77 x 20 = 1540

In [ ]:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 21):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 500
You Entered: 500

Multiplication Table of 500:

500 x 1 = 500
500 x 2 = 1000
500 x 3 = 1500
500 x 4 = 2000
500 x 5 = 2500
500 x 6 = 3000
500 x 7 = 3500
500 x 8 = 4000
500 x 9 = 4500
500 x 10 = 5000
500 x 11 = 5500
500 x 12 = 6000
500 x 13 = 6500
500 x 14 = 7000
500 x 15 = 7500
500 x 16 = 8000
500 x 17 = 8500
500 x 18 = 9000
500 x 19 = 9500
500 x 20 = 10000

In [ ]:
list1=["Ali","Parveen","Fatima"]
list2=["Devdas","Sana","Sooraj","Chandar","Heer"]
x=list1
y=list2
z=list1+list2
print(x,y)
print(" ".join(x)),print(" ".join(y))
print(" ".join(z))

['Ali', 'Parveen', 'Fatima'] ['Devdas', 'Sana', 'Sooraj', 'Chandar', 'Heer']
Ali Parveen Fatima
Devdas Sana Sooraj Chandar Heer
Ali Parveen Fatima Devdas Sana Sooraj Chandar Heer

In [ ]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist)
print(x)

apple

In [ ]:
mylist = iter(["apple", "banana", "cherry"])
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)
x = next(mylist, "orange")
print(x)

apple
banana
cherry
orange

In [ ]:
# try: # home works
#     user_inp = int(input("please enter a number :\t"))

#     for i in range(1 , 11):
#         print(f"{user_inp} * {i} = {user_inp *i}")
#     num = i/user_inp
#     print(num)
# except Exception as e:
#     print(f"your input is invalid or {e}\n")

def cal():
    user_input1 = int(input("\nplease  Enter 1st number:\t"))
    user_input2 = int(input("\nplease  Enter 2nd number:\t"))
    user_opr = (input("\nplease  Enter Your operation:\n+ , - , * , / :\t"))
    add = "add"
    sub = "subtraction"
    mult = "multiplication"
    div = "division"

    if(user_opr ==add or user_opr ==  "+" or  user_opr == "add".capitalize() or  user_opr == "add".upper() or  user_opr == "addition".capitalize() or user_opr =="addition".upper() ):
        result == user_input1 + user_input2
        print(f"Your final Result is :{result}")

    elif(user_opr ==sub or user_opr ==  "-" or  user_opr == "sub".capitalize() or user_opr =="subtraction".upper() ):
        result = user_input1 - user_input2
        print(f"Your final Result is :{result}")

    elif(user_opr ==mult or user_opr ==  "*" or  user_opr == "multiplication".capitalize() or  user_opr == "multiply" or  user_opr == "multiply". upper() or  user_opr == "multipli".capitalize() or  user_opr == "multiply".lower() or user_opr =="multiplication".upper() ):
        result = user_input1 * user_input2
        print(f"Your final Result is :{result}")

    elif(user_opr ==div or user_opr ==  "/" or  user_opr == "division".capitalize() or user_opr =="division".upper() or user_opr == "Divide" or user_opr == "Divide".upper()  or user_opr == "Divide".lower() ):
        result = user_input1 / user_input2
        print(f"Your final Result is :{result}")
try:
    cal()

except Exception as e:
    print(f" There is an error such as \t{e} \n")

please  Enter 1st number:	15

please  Enter 2nd number:	13

please  Enter Your operation:
+ , - , * , / :	+
 There is an error such as 	cannot access local variable 'result' where it is not associated with a value

In [ ]:
try:
  k1=(input("Enter a Table:"))
  print(k1)
  for i in range (1,11):
    print(f"11*{i}={11*i}")
except Exception as Valuerror:
  print("Valuerror")

Enter a Table:11
11
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110

In [ ]:
# try: # home work2
#     user_inp = int(input("please enter a number :\t"))

#     for i in range(1 , 11):
#         print(f"{user_inp} * {i} = {user_inp *i}")
#     num = i/user_inp
#     print(num)
# except Exception as e:
#     print(f"your input is invalid or {e}\n")

def cal():
    user_input1 = int(input("\nplease  Enter 1st number:\t"))
    user_input2 = int(input("\nplease  Enter 2nd number:\t"))
    user_opr = (input("\nplease  Enter Your operation:= \n + , - , * , / :\t"))
    add =   "add"
    sub = "subtraction"
    mult = "multiplication"
    div = "division"


    if(user_opr ==sub or user_opr ==  "-" or  user_opr == "sub".capitalize() or user_opr =="subtraction".upper() or  user_opr == "subtraction".capitalize() or user_opr =="subtraction".upper() ):
        result = user_input1 - user_input2
        print(f"Your final Result is :{result}")
    elif(user_opr ==add or user_opr ==  "+" or  user_opr == "add".capitalize() or  user_opr == "add".upper() or  user_opr == "addition".capitalize() or user_opr =="addition".upper() ):
        result == user_input1 + user_input2
        print(f"Your final Result is :{result}")


    elif(user_opr ==mult or user_opr ==  "*" or  user_opr == "multiplication".capitalize() or  user_opr == "multiply" or  user_opr == "multiply". upper() or  user_opr == "multipli".capitalize() or  user_opr == "multiply".lower() or user_opr =="multiplication".upper() ):
        result = user_input1 * user_input2
        print(f"Your final Result is :{result}")

    elif(user_opr ==div or user_opr ==  "/" or  user_opr == "division".capitalize() or user_opr =="division".upper() or user_opr == "Divide" or user_opr == "Divide".upper()  or user_opr == "Divide".lower() ):
        result = user_input1 / user_input2
        print(f"Your final Result is :{result}")
try:
    cal()

except Exception as e:
    print(f" There is an error such as \t{e} \n")

please  Enter 1st number:	15

please  Enter 2nd number:	15

please  Enter Your operation:=
 + , - , * , / :	+
 There is an error such as 	cannot access local variable 'result' where it is not associated with a value

In [ ]:
# final
def cal():
    try:
        user_input1 = int(input("\nPlease enter the 1st number:\t"))
        user_input2 = int(input("\nPlease enter the 2nd number:\t"))
        user_opr = input("\nPlease enter your operation (+, -, *, /):\t").strip().lower()

        if user_opr in ["-", "subtraction", "sub"]:
            result = user_input1 - user_input2
            print(f"Your final result is: {result}")
        elif user_opr in ["+", "addition", "add"]:
            result = user_input1 + user_input2
            print(f"Your final result is: {result}")
        elif user_opr in ["*", "multiplication", "multiply"]:
            result = user_input1 * user_input2
            print(f"Your final result is: {result}")
        elif user_opr in ["/", "division", "divide"]:
            if user_input2 == 0:
                print("Error: Division by zero is not allowed.")
            else:
                result = user_input1 / user_input2
                print(f"Your final result is: {result}")
        else:
            print("Invalid operation. Please enter +, -, *, or /.")

    except ValueError:
        print("Invalid input! Please enter numbers only.")
    except Exception as e:
        print(f"An error occurred: {e}")


# Run the calculator function
cal()

Please enter the 1st number:	30

Please enter the 2nd number:	15

Please enter your operation (+, -, *, /):	/
Your final result is: 2.0

In [ ]:
# filter in python
def is_even(n):
  return n%2 == 0

nums=[1,2,3,4,5,6,7,8,9,10]
even_num= filter(is_even,nums)
print(list(even_num))

[2, 4, 6, 8, 10]

In [ ]:
# filter in python odd
def is_odd(n):
  return n%2 == 0

nums=[1,2,3,4,5,6,7,8,9,10]
odd_num= filter(is_odd,nums)
print(list(odd_num))

[2, 4, 6, 8, 10]

In [ ]:
number=int(input("enter a number"))

if number%2 == 0:
    print("even")
else:
    print("odd")

enter a number23
odd

In [ ]:
def num(n):
    if n%2 == 0:
        print(n, "is a EVEN number")
    else:
        print(n, "is a ODD number")
num(78)

78 is a EVEN number

In [ ]:
num1 = int(input("Enter a First number: "))
num2 = int(input("Enter a second number: "))
operation = input("Enter your operaton: \n'addition'\n'subtract'\n'multiply'\n'divide':\n ")

def calculator(num1, num2, opeartion):
    if operation == 'addition':
        return num1 + num2
    elif operation == 'subtract':
        return num1 - num2
    elif operation == 'multiply':
        return num1 * num2
    elif operation == 'divide':
        return num1 / num2
    else:
        return "Invalid Operation"
print(calculator(num1, num2, operation))

Enter a First number: 15
Enter a second number: 15
Enter your operaton:
'addition'
'subtract'
'multiply'
'divide':
 addition
30